name: Conventional Commits

on:
  push:
    branches:
      - features/*
      - hotfix/*

jobs:
  test_commit_names:
    name: Conventional Commits
    #if: ${{ startsWith(github.ref, 'features/') || startsWith(github.ref, 'hotfix/') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: webiny/action-conventional-commits@v1.1.0
