name: Check Conventional Commits

on:
  push:
    branches:
      - features/*
      - hotfix/*

jobs:
  test_commit_names:
    name: Conventional Commits
    runs-on: ubuntu-latest
    steps:
      - name: Check commit name
        uses: webiny/action-conventional-commits@v1.1.0